<div class="table-background border">
  <h2 class="table-caption">
    Працівники
  </h2>
  <app-create-employee (addEmployee)="reloadTable()"></app-create-employee>
  <app-edit-employee [employee]="selectedEmployee" (editEmployee)="reloadTable()"></app-edit-employee>
  <app-delete-employee [employee]="selectedEmployee" (deleteEmployee)="reloadTable()"></app-delete-employee>
  <app-attach-user [selectedEmployee]="selectedEmployee" (completed)="reloadTable()" ></app-attach-user>
  <table id="employee" datatable [dtOptions]="options" [dtTrigger]="renderTrigger" class="table table-bordered">
    <thead>
      <tr>
        <th>Табельний номер</th>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По батькові</th>
        <th>Коротке ім'я</th>
        <th>Посада</th>
        <th>Ім'я користувача</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody *ngIf="employees?.length !== 0">
      <tr *ngFor="let employee of employees">
        <td>{{ employee.boardNumber }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.middleName }}</td>
        <td>{{ employee.shortName }}</td>
        <td>{{ employee.post?.name }}</td>
        <td>{{ employee.attachedUser?.userName || "немає"}}</td>
        <td>
          <div class="d-flex flex-nowrap">
            <button (click)="selectPost(employee)" class="btn" data-toggle="modal" data-target="#editEmployee">
              <i class="fas fa-edit"></i>
            </button>
            <button (click)="selectPost(employee)" class="btn" data-toggle="modal" data-target="#deleteModal">
              <i class="fas fa-trash-alt"></i>
            </button>
            <button (click)="selectPost(employee)" class="btn" data-toggle="modal" data-target="#attachUser">
              <i class="fas fa-user-circle"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
