<div class="table-background border">

    <ng-template #generalTemplate>
        <app-create-employee (createEmployee)="refreshTable()"></app-create-employee>
    </ng-template>

    <ng-template #actionsTemplate let-data="templateData">

        <app-delete-employee [employee]="data" (deleteEmployee)="refreshTable()"></app-delete-employee>

        <app-edit-employee [employee]="data" (updateEmployee)="refreshTable()"></app-edit-employee>

    </ng-template>
    <h2 class="text-center py-3 m-0">{{ 'Routing.employees' | translate }}</h2>
    <div>
        <mat-fsp-table #table [columnDefinitions]="columnDefinitions" [columnNames]="columnNames" [dataSource]="dataSource" [actionContentTemplate]="actionsTemplate" [generalContentTemplate]="generalTemplate">
        </mat-fsp-table>
    </div>
</div>