<app-navbar></app-navbar>
<div class="container page ">
  <div class="border d-none d-md-flex ">
    <nav class="nav nav-tabs " id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/analyst/issues"
        routerLinkActive="active"
        data-toggle="tab"
        role="tab"
        aria-selected="false"
      >
        <i class="fas fa-book-open"></i> Заявки</a
      >
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/analyst/report"
        routerLinkActive="active"
        data-toggle="tab"
        role="tab"
        aria-selected="false"
      >
        <i class="fas fa-clipboard"></i> Звіт</a
      >

      <a
        class="nav-item nav-link"
        routerLink="/analyst/dictionary"
        routerLinkActive="active"
        data-toggle="tab"
        role="tab"
        aria-selected="false"
      >
        <i class="fas fa-globe"></i> Довідники</a
      >
    </nav>
  </div>
  <div class="tab-content ">
    <div class="tab-pane fade show active " role="tabpanel" aria-labelledby="nav-home-tab">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
