<div class="table-background border">

  <ng-template #generalTemplate>
  <app-create-modal [message]="messageCreate" (createEntity)="clickSubmit($event)" [generalForm]="vehicleTypeForm"
    [controls]="controls"></app-create-modal>
  </ng-template>

  <ng-template #actionsTemplate let-data="templateData">
    <button class="btn" (click)="vehicleType=data" data-toggle="modal" data-target="#deleteVehicleType">
      <i class="fas fa-trash-alt"></i>
    </button>

    <button class="btn" (click)="vehicleType=data" data-toggle="modal" data-target="#editVehicleType">
      <i class="fas fa-edit"></i>
    </button>
  </ng-template>

  <ng-container *ngIf="vehicleType">
    <app-delete-vehicle-type [vehicleType]="vehicleType" (deleteVehicleType)="refreshTable()">
    </app-delete-vehicle-type>
    <app-edit-vehicle-type [vehicleType]="vehicleType" (editVehicleType)="refreshTable()">
    </app-edit-vehicle-type>
  </ng-container>


  <h2 class="text-center py-3 m-0">{{ 'Routing.vehicle-types' | translate }}</h2>

  <mat-fsp-table #table 
    [columnDefinitions]="columnDefinitions"
    [columnNames]="columnNames"
    [dataSource]="dataSource"
    [actionContentTemplate]="actionsTemplate"
    [generalContentTemplate]="generalTemplate">
  </mat-fsp-table>

</div>