<div class="table-background border">

  <ng-template #generalTemplate>
  <app-create-modal [message]="messageCreate" (createEntity)="clickSubmit($event)" [generalForm]="vehicleTypeForm"
    [controls]="controls"></app-create-modal>
  </ng-template>

  <ng-template #actionsTemplate let-data="templateData">
    <app-delete-vehicle-type [vehicleType]="data" (deleteVehicleType)="refreshTable()">
    </app-delete-vehicle-type>
    <app-edit-vehicle-type [vehicleType]="data" (editVehicleType)="refreshTable()">
    </app-edit-vehicle-type>
  </ng-template>

  <h2 class="text-center py-3 m-0">{{ 'Routing.vehicle-types' | translate }}</h2>

  <mat-fsp-table #table 
    [columnDefinitions]="columnDefinitions"
    [columnNames]="columnNames"
    [dataSource]="dataSource"
    [actionContentTemplate]="actionsTemplate"
    [generalContentTemplate]="generalTemplate">
  </mat-fsp-table>

</div>