<div class="table-background border">
  <h1 style="text-align:center">Стани</h1>
  <span><app-create-state (createState)="addState($event)"></app-create-state></span>
  <span class="second">
    <app-edit-state [state]="selectedState" (editState)="editState($event)"></app-edit-state>
  </span>
  <span class="third">
    <app-delete-state [state]="selectedState" (deleteState)="deleteState($event)"></app-delete-state>
  </span>
  <p></p>
  <table id="state-table" class="table table-bordered  table-hover" style="width:100%;" cellspacing="0"></table>
</div>
