<div class="table-background border">

  <ng-template #generalTemplate>
    <app-create-state (createState)="refreshTable()"></app-create-state>
  </ng-template>

  <ng-template #actionsTemplate let-data="templateData">
    <app-delete-state [state]="data" (deleteState)="refreshTable()"></app-delete-state>
    <app-edit-state [state]="data" (editState)="refreshTable()"></app-edit-state>
  </ng-template>

  <h2 class="text-center py-3 m-0">Стани</h2>

  <mat-fsp-table #table
    [columnDefinitions]="columnDefinitions"
    [columnNames]="columnNames"
    [dataSource]="dataSource"
    [actionContentTemplate]="actionsTemplate"
    [generalContentTemplate]="generalTemplate">
  </mat-fsp-table>

</div>
