<div class="table-background border">

  <ng-template #generalTemplate>
    <app-create-state (createState)="refreshTable()"></app-create-state>
  </ng-template>

  <ng-template #actionsTemplate let-data="templateData">
    <button class="btn" (click)="state=data" data-toggle="modal" data-target="#deleteState">
      <i class="fas fa-trash-alt"></i>
    </button>

    <button class="btn" (click)="state=data" data-toggle="modal" data-target="#editState">
      <i class="fas fa-edit"></i>
    </button>
  </ng-template>

  <ng-container *ngIf="state">
    <app-delete-state [state]="state" (deleteState)="refreshTable()"></app-delete-state>
    <app-edit-state [state]="state" (editState)="refreshTable()"></app-edit-state>
  </ng-container>

  <h2 class="text-center py-3 m-0">Стани</h2>

  <mat-fsp-table #table
    [columnDefinitions]="columnDefinitions"
    [columnNames]="columnNames"
    [dataSource]="dataSource"
    [actionContentTemplate]="actionsTemplate"
    [generalContentTemplate]="generalTemplate">
  </mat-fsp-table>

</div>
