<app-create-vehicle (createVehicle)="addVehicle($event)"></app-create-vehicle>
<ng-template #actionsTemplate let-data="templateData">

    <app-delete-vehicle [vehicle]="data" (deleteVehicle)="deleteVehicle(data)"></app-delete-vehicle>

    <app-edit-vehicle [vehicle]="data" (updateVehicle)="updateVehicle(data)"></app-edit-vehicle>

    <button class="first btn" (click)="infoVehicle(data)"><i class="fas fa-info"></i></button>

</ng-template>

<div>
    <mat-fsp-table #table [columnDefinitions]="columnDefinitions" [columnNames]="columnNames" [dataSource]="dataSource" [actionContentTemplate]="actionsTemplate">
    </mat-fsp-table>
</div>