<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#createPost">
  <i class="fas fa-plus"></i> {{'Admin.Post.Create'| translate}}
</button>

<!-- Modal -->
<div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="createPost" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{'Admin.Post.Create'| translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="postForm">
          <div class="form-group">
            <label>{{'Admin.Post.Name'| translate}}</label>
            <input type="text" placeholder="{{'Admin.Post.EnterName'| translate}}" class="form-control" formControlName="name" />
          </div>
          <button hidden type="submit" #submit></button>
        </form>
      </div>
      <div class="modal-footer">
        <button #close
          type="button"
          class="btn btn-secondary"
          data-toggle="modal"
          data-target="#createPost"
        >
        {{'Admin.Post.Cancel'| translate}}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="clickSubmit()"
          form="postForm"
          [disabled]="postForm.invalid"
          data-toggle="modal"
          data-target="#createPost"
        >
        {{'Admin.Post.CreateBtn'| translate}}
        </button>
      </div>
    </div>
  </div>
</div>
