<div class="borderFilterTab">
  <div class="block">
    <div>
      <input id="startDate" placeholder="Start Date" width="200" />
      <input id="endDate" placeholder="End Date" width="200" />
      <select class="form-control" width="200" (change)="selectPriority($event.target.value)">
        <option value="" selected class="grey"> Виберіть пріорітет</option>
        <option *ngFor="let key of keys" [value]="key" [label]="priorityList[key]"></option>
      </select>
    </div>
    <div>
      <select class="form-control" width="200" (change)="selectVechicleType($event.target.value)">
        <option value="" selected class="grey"> Виберіть тип транспорту</option>
        <option *ngFor="let vehicleType of vehicleTypeList" [value]="">{{ vehicleType.name }}</option>
      </select>
      <select class="form-control" width="200" (change)="selectLocation($event.target.value)">
        <option value="" selected class="grey"> Виберіть місцезнаходження</option>
        <option *ngFor="let location of locationList" [value]="">{{ location.name }}</option>
      </select>
      <select class="form-control" width="200" (change)="selectState($event.target.value)">
        <option value="" selected class="grey"> Виберіть статус</option>
        <option *ngFor="let state of stateList" [value]="">{{ state.transName }}</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" width="200" (change)="selectMulfunctionGroup($event.target.value)">
        <option value="" selected class="grey"> Виберіть групу несправності</option>
        <option *ngFor="let  malfunctionGL of malfunctionGroupList" [value]="">{{ malfunctionGL.name }}</option>
       </select>
       <select class="form-control" width="200" (change)="selectMulfunctionSubGroup($event.target.value)">
        <option value="" selected class="grey"> Виберіть підгрупу несправності</option>
        <option *ngFor="let  malfunctionSubGL of malfunctionSubGroupList" [value]="">{{ malfunctionSubGL.name }}</option>
       </select>
        <select class="form-control" width="200" (change)="selectMalfunctionType($event.target.value)">
        <option value="" selected class="grey"> Виберіть несправність</option>
        <option *ngFor="let malfunction of malfunctionList" [value]="">{{ malfunction.name }}</option>
       </select>
    </div>
  </div>
  <button href="#" class="right btn btn-info" (click)="selectFilter()">
    <i class="fas fa-filter"></i> Фільтрувати
  </button>
</div>
