<div class="borderFilterTab">
  <div class="block">
    <div>  
       <div class="date-selection">
         <input class="form-control"
                placeholder="Start Date" 
                [max]="maxDate"
                [(ngModel)]="selectedMinDate"
                [matDatepicker]="pickerStartDate" />
         <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
         <mat-datepicker #pickerStartDate></mat-datepicker> 
       </div>

       <div class="date-selection">
         <input class="form-control"
                placeholder="End Date" 
                [max]="maxDate"
                [(ngModel)]="selectedMaxDate"
                [matDatepicker]="pickerEndDate" />
         <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle> 
         <mat-datepicker #pickerEndDate></mat-datepicker>
       </div>
      <ng-select
        [items] = "priorityList"
        placeholder = "Виберіть пріорітет"
        notFoundText = "Не знайдено"
        (change) = "selectPriority($event)"
      ></ng-select>
    </div>
    <div>
      <ng-select
        [items] = "vehicleTypeList"
        bindLabel = "name"
        placeholder = "Виберіть тип транспорту"
        notFoundText = "Не знайдено"
        (change) = "selectVechicleType($event)"
      ></ng-select>
      <ng-select
        [items] = "locationList"
        bindLabel = "name"
        placeholder = "Виберіть місцезнаходження"
        notFoundText = "Не знайдено"
        (change) = "selectLocation($event)"
      ></ng-select>
      <ng-select
        [items] = "stateList"
        bindLabel = "transName"
        placeholder = "Виберіть статус"
        notFoundText = "Не знайдено"
        (change) = "selectState($event)"
      ></ng-select>
    </div>
    <div>
      <ng-select
        [items] = "malfunctionGroupList"
        bindLabel = "name"
        clearAllText = ""
        placeholder = "*Група несправності"
        notFoundText = "Не знайдено"
        (change) = "selectMalfunctionGroupType($event)"
      ></ng-select>
      <ng-select
        [items] = "malfunctionSubGroupFilteredList"
        [(ngModel)] = "currentMalfunctionSubgroup"
        bindLabel = "name"
        placeholder = "*Підгрупа несправності"
        notFoundText = "Не знайдено"
        (change) = "selectMalfunctionSubGroupType($event)"
      ></ng-select>
      <ng-select
        [items] = "malfunctionFilteredList"
        [(ngModel)] = "currentMalfunction"
        bindLabel = "name"
        placeholder = "*Несправність"
        notFoundText = "Не знайдено"
        (change) = "selectMalfunctionType($event)"
      ></ng-select>
    </div>
  </div>
  <button href="#" class="right btn btn-info" (click)="selectFilter()">
    <i class="fas fa-filter"></i> Фільтрувати
  </button>
</div>


