<div class="borderFilterTab">
  <div class="block">
    <div>
      <input id="startDate" placeholder="Start Date" width="200" />
      <input id="endDate" placeholder="End Date" width="200" />
    </div>
    <div>
      <select class="form-control" width="200" (change)="selectVechicleType($event.target.value)">
        <option value="" selected class="grey"> Виберіть тип транспорту</option>
        <option *ngFor="let vehicleType of vehicleTypeList" [value]="">{{ vehicleType.name }}</option>
      </select>
    </div>
    <div>
      <select class="form-control" width="200" (change)="selectState($event.target.value)">
        <option value="" selected class="grey"> Виберіть статус</option>
        <option *ngFor="let state of stateList" [value]="">{{ state.transName }}</option>
      </select>
    </div>
  </div>
  <button href="#" class="right btn btn-info"><i class="fas fa-file-excel"></i> Exel</button>
  <button href="#" class="right btn btn-info" (click)="selectFilter()">
    <i class="fas fa-filter"></i> Фільтрувати
  </button>
  <app-filter-malfunctions></app-filter-malfunctions>
</div>
