<form class="container" [formGroup]="issueLogForm" (submit)="onSubmit()">
  <div class="form-group">
    <app-create-document [issueLog]="issueLog" (createDocument)="assignDocument($event)"></app-create-document>
    <ul>
      <li *ngFor="let item of documents">
        <span class="badge badge-secondary">
          <h4>{{ item.name }}</h4>
          <button class="badge badge-secondary" (click)="deleteDocument(item)">&times;</button>
        </span>
      </li>
    </ul>
  </div>
  <div class="form-group">
    <app-issue-log-assignees (selectUser)="assignAssignee($event)"></app-issue-log-assignees>
    <label>{{ assigneeUser?.login || '' + ' ' + assigneeUser?.lastName || '' + ' ' + assigneeUser?.firstName || '' + ' ' + assigneeUser?.middleName || '' }}</label>
  </div>
    <div class="form-group">
      <label class="col-form-label">Новий стан:</label>
      <select
        formControlName="state"
        name="state"
        [(ngModel)]="issueLog.newState.id"
        class="form-control">
        <option *ngFor="let item of states" [value]="item.id">{{ item.transName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="col-form-label">Тип дії:</label>
      <select
        formControlName="actionType"
        name="actionType"
        [(ngModel)]="issueLog.actionType.id"
        class="form-control">
        <option *ngFor="let item of actionTypes" [value]="item.id">{{ item.name }}</option>
      </select>
    </div>
  <div class="form-group">
    <label class="col-form-label">Витрати:</label>
    <input
      type="number"
      formControlName="expenses"
      name="expenses"
      [(ngModel)]="issueLog.expenses"
      class="form-control">
  </div>
  <div class="form-group">
    <label class="col-form-label">Постачальники:</label>
    <select
      formControlName="supplier"
      name="supplier"
      [(ngModel)]="issueLog.supplier.id"
      class="form-control">
      <option *ngFor="let item of suppliers" [value]="item.id">{{ item.name }}</option>
    </select>
  </div>
  <div class="form-group">
      <label for="summary" class="col-form-label">Опис:</label>
      <textarea
        class="form-control"
        formControlName="summary"
        id="summary"
        placeholder="Введіть опис"
        [(ngModel)]="issueLog.description">
      </textarea>
  </div>
  <div class="form-group">
    <button type="submit" id="submit" class="btn btn-primary">
      Підтвердити
    </button>
  </div>
</form>
