<h1 style="text-align:center">Група</h1>
<p></p>
<app-create-group-malfunc></app-create-group-malfunc>
<p></p>
<table id="group" class="display">
  <thead>
    <tr>
      <th>Група</th>
      <th>Редагувати</th>
      <th>Видалити</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let malfuncgroup of malfuncGroups">
      <td><a>{{ malfuncgroup.name }} </a></td>
      <td>
        <button mat-button  data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></button>
      </td>
      <td>
        <button mat-button  data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>

