<div>
  <caption class="caption">
    <h2>Група</h2>
  </caption>
</div>

<span>
  <app-create-malfunc-group (createMalfuncGroup)="addMalfunctionGroup($event)"></app-create-malfunc-group>
</span>
<span class="second">
  <app-edit-malfunc-group
    [malfuncGroup]="selectedMalfunctionGroup"
    (updateMalfuncGroup)="editMalfunctionGroup($event)"
  ></app-edit-malfunc-group>
</span>
<span class="third">
  <app-delete-malfunc-group
    [malfunctionGroup]="selectedMalfunctionGroup"
    (deleteMalfunctionGroup)="deleteMalfunctionGroup($event)"
  ></app-delete-malfunc-group>
</span>
<p></p>
<table id="group-table" class="table table-striped table-bordered" cellspacing="0"></table>
