<div class="table-background border">
    <p></p>
    <div>
        <mat-fsp-table [columnDefinitions]="columnDefinitions" [columnNames]="columnNames" [dataSource]="dataSource" [numberOfRows]="numberOfRows">
            <button>It is victory!</button>
            <button class="first btn" data-toggle="modal" data-target="#addItem">modal btn</button>
            <!--mat-flat-button #edit <app-create-supplier (createSupplier)="addSupplier($event)" #create></app-create-supplier>
        <app-delete-supplier [supplier]="supplier" (deleteSupplier)="deleteSupplier($event)" #delete></app-delete-supplier>
        
        <app-edit-supplier [supplier]="supplier" (updateSupplier)="updateSupplier($event)" #edit></app-edit-supplier>   -->
        </mat-fsp-table>
    </div>
</div>