<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUser">
  <i class="fas fa-user-plus"></i> Створити користувача
</button>
<div #modalContainer
     class="modal fade"
     id="createUser" 
     (click)="clearForm($event)"
     tabindex="-1"
     role="dialog" 
     aria-labelledby="CreateUser"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header color">
        <h5 class="modal-title"><i class="fas fa-user-plus"></i> Створити користувача</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm">
          <div class="row">
            <div class="form-group col-md-6 " [customErrorMessages]="CustomNameErrorMessages">
              <label>Табельний номер</label>
              <ng-select
                  [items]="allBoardNumbers"
                  placeholder="Введіть табельний номер..."
                  notFoundText="Даного номера не знайдено"
                  formControlName="boardNumber"
                  autofocus>
              </ng-select>
            </div>

            <div class="form-group col-md-6 " [customErrorMessages]="CustomNameErrorMessages">
              <label>Прізвище</label>
              <input type="text" class="form-control" formControlName="lastName" placeholder="Введіть Прізвище" />
            </div>

            <div class="form-group col-md-6" [customErrorMessages]="CustomNameErrorMessages">
              <label>Ім'я</label>
              <input type="text" class="form-control" formControlName="firstName" placeholder="Введіть Ім'я" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6" [customErrorMessages]="CustomNameErrorMessages">
              <label>По батькові</label>
              <input type="text" class="form-control" formControlName="middleName" placeholder="Введіть По батькові" />
            </div>

            <div class="form-group col-md-6">
              <label>Номер телефону</label>
              <input
                class="form-control"
                formControlName="phoneNumber"
                placeholder="+00 (000) 999-99-99"
                mask="+00 (000) 000-00-00"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6" [customErrorMessages]="CustomLoginErrorMessages">
              <label class="required-field">Логін</label>
              <input type="text" class="form-control" formControlName="userName" placeholder="Введіть логін" />
            </div>

            <div class="form-group col-md-6">
              <label>Пошта</label>
              <input type="text" class="form-control" formControlName="email" placeholder="Введіть пошту" />
            </div>
          </div>
          <div class="form-group">
            <label class="required-field">Пароль</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Введіть пароль" />
          </div>

          <div class="form-group">
            <label class="required-field">Підтвердження паролю</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
              placeholder="Введіть пароль ще раз"
            />
          </div>

          <div class="form-group">
            <label class="required-field">Роль</label>
            <select class="form-control" formControlName="role">
              <option hidden value="" disabled selected>Виберіть роль для користувача</option>
              <option *ngFor="let role of roleList" [value]="">{{ role.transName }}</option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel($event)">Скасувати</button>
        <button type="button" class="btn btn-primary" (click)="clickSubmit()" [disabled]="userForm.invalid">
          Зберегти
        </button>
      </div>
    </div>
  </div>
</div>
