<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createVehicle">
  <i class="fas fa-plus"></i> Cтворити транспорт
</button>

<div class="modal fade" id="createVehicle" tabindex="-1" vehicleType="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" vehicleType="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Створити транспорт</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]=vehicleForm>
          <div class="form-group">
            <label>Тип транспорту:</label>
            <select formControlName="vehicleType" class="form-control">
              <option hidden value="" disabled selected>--Select--</option>
              <option *ngFor="let item of vehicleTypeList" [value]="item.name">{{ item.name }}</option>
            </select>
            <div *ngFor="let validation of validation_messages.vehicleType">
              <div class="alert alert-danger" *ngIf="
                    vehicleForm.get('vehicleType').hasError(validation.type) &&
                    (vehicleForm.get('vehicleType').dirty || vehicleForm.get('vehicleType').touched)
                  ">
                {{ validation.message }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Vin-код:</label>
            <input type="text" class="form-control" formControlName="vincode" placeholder="123/1234" autocomplete="off"
              [dropSpecialCharacters]="false" mask="000/0000" />
            <div *ngFor="let validation of validation_messages.vincode">
              <div class="alert alert-danger" *ngIf="
                    vehicleForm.get('vincode').hasError(validation.type) &&
                    (vehicleForm.get('vincode').dirty || vehicleForm.get('vincode').touched)
                  ">
                {{ validation.message }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Інвентарний номер:</label>
            <input type="text" class="form-control" formControlName="inventoryId"
              placeholder="Введіть інвентарний номер" autocomplete="off" />
          </div>
          <div class="form-group">
            <label>Реєстраційний номер:</label>
            <input type="text" class="form-control" formControlName="regNum" placeholder="AA1234AA" autocomplete="off"
              mask="SS0000SS" />
            <div *ngFor="let validation of validation_messages.regNum">
              <div class="alert alert-danger" *ngIf="
                      vehicleForm.get('regNum').hasError(validation.type) &&
                      (vehicleForm.get('regNum').dirty || vehicleForm.get('regNum').touched)
                    ">
                {{ validation.message }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Бренд:</label>
            <input type="text" class="form-control" formControlName="brand" placeholder="Введіть бренд"
              autocomplete="off" />
          </div>

          <div class="form-group">
            <label>Модель:</label>
            <input type="text" class="form-control" formControlName="model" placeholder="Введіть модель"
              autocomplete="off" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #close type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
        <button type="button" class="btn btn-primary" (click)="clickSubmit()">Зберегти</button>
      </div>
    </div>
  </div>
</div>