<div class="table-background border">

  <ng-template #generalTemplate>
    <app-create-action (createAction)="refreshTable()"></app-create-action>
  </ng-template>

  <ng-template #actionsTemplate let-data="templateData">
    <app-delete-action [action]="data" (deleteAction)="refreshTable()"></app-delete-action>
    <app-edit-action [action]="data" (editAction)="refreshTable()"></app-edit-action>
  </ng-template>

  <h2 class="text-center py-3 m-0">Переходи</h2>

  <mat-fsp-table #table 
    [columnDefinitions]="columnDefinitions"
    [columnNames]="columnNames"
    [dataSource]="dataSource"
    [actionContentTemplate]="actionsTemplate"
    [generalContentTemplate]="generalTemplate">
  </mat-fsp-table>

</div>
