<mat-card>
  <ng-template #generalTemplate>
    <app-create-country (createCountry)="refreshTable()"></app-create-country>
  </ng-template>
  
  <ng-template #actionsTemplate let-data="templateData">
    <app-delete-country [country]="data" (deleteCountry)="refreshTable()"></app-delete-country>
  </ng-template>

  <div>
    <h2 class="text-center py-3 m-0">Країни</h2>
  </div>

  <mat-fsp-table #table [columnDefinitions]="columnDefinitions" [columnNames]="columnNames" [dataSource]="dataSource">
  </mat-fsp-table>

</mat-card>
