<div class="table-background border">
  <app-create-country *ngIf="ableToCreate" (createCountry)="addCountry($event)"></app-create-country>

  <ng-template #actionsTemplate let-data="templateData">
    <app-delete-country [country]="data" (deleteCountry)="deleteCountry($event)"></app-delete-country>
  </ng-template>

  <div class="captBox col-md-4 offset-5">
    <caption class="caption">
      Країна
    </caption>
  </div>

  <mat-fsp-table #table [columnDefinitions]="columnDefinitions" [columnNames]="columnNames" [dataSource]="dataSource">
  </mat-fsp-table>

</div>