<div class="table-background border">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#globalModal">
    <i class="fas fa-user-plus"></i> Створити постачальника
  </button>
  <app-global-modal (outputEntity)="addItem($event)" *ngIf="isVisible"></app-global-modal>
  <app-global-modal [entity]="supplier" (outputEntity)="deleteSupplier($event)" *ngIf="isVisible"></app-global-modal>
  <app-global-modal [entity]="supplier" (outputEntity)="updateSupplier($event)" *ngIf="isVisible"></app-global-modal>
  <p></p>
  <div>
    <table id="supplier-table" class="table table-bordered  table-hover" style="width:100%;"></table>
  </div>
</div>

