<app-create-supplier (createSupplier)="addSupplier($event)"></app-create-supplier>
<app-delete-supplier [supplier]="supplier" (deleteSupplier)="deleteSupplier($event)" ></app-delete-supplier>
<app-edit-supplier [supplier]="supplier" (updateSupplier)="updateSupplier($event)" ></app-edit-supplier>

<div class="table-background border">
  <p></p>
  <div>
    <ng-template #actionsTemplate let-data="templateData">
        <app-create-supplier (createSupplier)="addSupplier(data)"></app-create-supplier>
    </ng-template>

    <mat-fsp-table
      [columnDefinitions]="columnDefinitions"
      [columnNames]="columnNames"
      [dataSource]="dataSource"
      [actionContentTemplate]="actionsTemplate">
        <button #infoEntity>It is victory!</button>
        <button #editEntity>It is editEntity!</button>
        <app-delete-supplier [supplier]="supplier" (deleteSupplier)="deleteSupplier($event)" class="deleteEntity"></app-delete-supplier>

        <!--
        <button class="first btn" data-toggle="modal" data-target="#addSupplier">modal btn</button>
          
        mat-flat-button #edit <app-create-supplier (createSupplier)="addSupplier($event)" #create></app-create-supplier>
        <app-delete-supplier [supplier]="supplier" (deleteSupplier)="deleteSupplier($event)" #delete></app-delete-supplier>
        
        <app-edit-supplier [supplier]="supplier" (updateSupplier)="updateSupplier($event)" #edit></app-edit-supplier>   -->   
    </mat-fsp-table>
  </div>
</div>

