<div class="table-background border">
  
  <ng-template #generalTemplate>
    <app-create-supplier (createSupplier)="refreshTable()">
    </app-create-supplier>
  </ng-template>

  <ng-template #actionsTemplate let-data="templateData">
    <app-delete-supplier [supplier]="data" (deleteSupplier)="refreshTable()">
    </app-delete-supplier>

    <app-edit-supplier [supplier]="data" (updateSupplier)="refreshTable()">
    </app-edit-supplier>
  </ng-template>

  <div>
    <mat-fsp-table #table 
      [columnDefinitions]="columnDefinitions" 
      [columnNames]="columnNames" 
      [dataSource]="dataSource">
    </mat-fsp-table>
  </div>
</div>