<mat-card>
  <ng-template #generalTemplate>
    <app-create-currency (createCurrency)="refreshTable()"></app-create-currency>
  </ng-template>
  
  <ng-template #actionsTemplate let-data="templateData">
    <app-delete-currency [currency]="data" (deleteCurrency)="refreshTable()"></app-delete-currency>
  </ng-template>

  <div>
    <h2 class="text-center py-3 m-0">Валюти</h2>
  </div>

  <mat-fsp-table #table [columnDefinitions]="columnDefinitions" [columnNames]="columnNames" [dataSource]="dataSource">
  </mat-fsp-table>

</mat-card>
