<div class="table-background border">
  
  <app-create-currency *ngIf="ableToCreate" (createCurrency)="addCurrency($event)"></app-create-currency>

  <ng-template #actionsTemplate let-data="templateData">
    <app-delete-currency [currency]="data" (deleteCurrency)="deleteCurrency($event)"></app-delete-currency>
  </ng-template>
  
  <div class="captBox col-md-4 offset-5">
    <caption class="caption">
      Валюта
    </caption>
  </div>
  
  <mat-fsp-table #table
    [columnDefinitions]="columnDefinitions" 
    [columnNames]="columnNames" 
    [dataSource]="dataSource">
  </mat-fsp-table>

</div>