<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active"  routerLink="/admin/users" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-users"></i> Користувачі</a>
    <a class="nav-item nav-link" id="nav-profile-tab" routerLink="/admin/user" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-bus"></i> Транспорт</a>
    <a class="nav-item nav-link" id="nav-contact-tab" routerLink="/admin" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-exclamation-triangle"></i> Типи несправностей</a>
    <a class="nav-item nav-link" id="nav-p-tab" routerLink="/admin" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-calendar-week"></i> Типи подій</a>

  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <router-outlet></router-outlet>
  </div>
</div>
