
<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">

  <app-sidebar [leftValue]="stateValue"></app-sidebar>
  <main class="page-content">
      <app-navbar></app-navbar>
    <div class="container-fluid">
      <div class="row">
        <div class="form-group col-md-12">
          <a class="btn btn-outline-secondary mr-1 mb-1" (click)="toggleSidebar()">{{ 'Core.Navbar.Collapse' | translate }}</a>
          <!--------------------------------------------------------------------------------->
          <div class="container page">
            <app-breadcrumb></app-breadcrumb>
            <div class="tab-content mb-5">
              <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-home-tab">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
          <!-------------------------------------------------------------------------------------------------------->
        </div>
      </div>
    </div>
    <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
  </main>
</div>
