<div class="container d-none d-md-block" >
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active"  routerLink="/admin/users"  data-toggle="tab" role="tab" aria-selected="true"><i class="fas fa-users"></i> Користувачі</a>
      <a class="nav-item nav-link" routerLink="/admin/vehicles" data-toggle="tab"  role="tab" aria-selected="false"><i class="fas fa-bus"></i> Транспорт</a>
      <a class="nav-item nav-link" routerLink="/admin/malfunction" data-toggle="tab"  role="tab" aria-selected="false"><i class="fas fa-exclamation-triangle"></i> Несправності</a>
      <a class="nav-item nav-link" routerLink="/admin/action" data-toggle="tab"  role="tab" aria-selected="false"><i class="fas fa-file-contract"></i> Дії</a>

    </div>
  </nav>
  <div class="tab-content retreat">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-home-tab">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
