<button class="first btn" data-toggle="modal" data-target="#editPart">
  <i class="fas fa-edit"></i>
</button>


<div class="modal fade" id="editPart" tabindex="-1" vehicleType="dialog" aria-labelledby="editPart"
  aria-hidden="true">
  <div class="modal-dialog" vehicleType="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Редагувати постачальника</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="partForm">
          <div class="form-group">
            <label class="required-field">Назва</label>
            <input type="text" class="form-control" formControlName="name" autocomplete="off" />
          </div>
          <div class="form-group">
            <label class="required-field">Код</label>
            <input type="text" class="form-control" formControlName="code" autocomplete="off" />
          </div>
          <div class="form-group">
            <label>Виробник</label>
            <ng-select
              formControlName="manufacturer"
              [items] = "manufacturers"
              bindLabel = "name"
              placeholder = "Виберіть Виробника"
              notFoundText = "Не знайдено">
            </ng-select>
          </div>
          <div class="form-group">
            <label>Одиниці вимірювання</label>
            <ng-select
              formControlName="unit"
              [items] = "units"
              bindLabel = "name"
              placeholder = "Виберіть Одиницю Вимірювання"
              notFoundText = "Не знайдено">
            </ng-select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #close type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">Скасувати</button>
        <button type="button" class="btn btn-primary" (click)="updateData()" [disabled]="partForm.invalid">Зберегти</button>
      </div>
    </div>
  </div>
</div>