<div class="table-background border">

    <ng-container *ngIf="post">
        <app-delete-post [post]="post" (deletePost)="refreshTable()"></app-delete-post>

        <app-edit-post [post]="post" (updatePost)="refreshTable()"></app-edit-post>
    </ng-container>

    <ng-template #generalTemplate>
        <app-create-post (createPost)="refreshTable()"></app-create-post>
    </ng-template>

    <ng-template #actionsTemplate let-data="templateData">

        <button class="btn" (click)="post=data" data-toggle="modal" data-target="#editPost">
            <i class="fas fa-edit"></i>
            </button>

        <button class="btn" (click)="post=data" data-toggle="modal" data-target="#deletePost">
            <i class="fas fas fa-trash-alt"></i>
        </button>

    </ng-template>
    <h2 class="text-center py-3 m-0">{{ 'Routing.posts' | translate }}</h2>
    <div>
        <mat-fsp-table #table [columnDefinitions]="columnDefinitions" [columnNames]="columnNames" [dataSource]="dataSource" [actionContentTemplate]="actionsTemplate" [generalContentTemplate]="generalTemplate">
        </mat-fsp-table>
    </div>
</div>
