<app-malfunc-group></app-malfunc-group>
<app-malfun-subgroup></app-malfun-subgroup>
<app-malfunc></app-malfunc>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <app-malfunc-group></app-malfunc-group>
        </div>
        <div class="col-sm-12 col-md-4">
            <app-malfun-subgroup></app-malfun-subgroup>
        </div>
        <div class="col-sm-12 col-md-4">
            <app-malfunc></app-malfunc>
        </div>
    </div>
</div> -->