.second {
  margin-left: 10px;
}
.third {
  margin-left: 10px;
}
@media all and (min-width: 768px) {
  :host ::ng-deep .dt-bootstrap4 {
    span.select-info {
      display: block;
      color: blue;
    }
    .row:first-child,
    .row:last-child {
      div {
        flex: 0 0 100%;
        max-width: 100%;
      }
      div:first-child {
        margin-right: auto;
      }
      div:last-child {
        margin-left: auto;
      }
    }
    tbody {
      tr.selected {
        background-color: #b0bed9;
      }
    }
  }
}
