<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div>
        <caption class="caption">
          <h2>Група</h2>
        </caption>
      </div>

      <span>
        <app-create-malfunc-group (createMalfuncGroup)="addMalfunctionGroup($event)"></app-create-malfunc-group>
      </span>
      <span class="second">
        <app-edit-malfunc-group
          [malfuncGroup]="selectedMalfunctionGroup"
          (updateMalfuncGroup)="editMalfunctionGroup($event)"
        ></app-edit-malfunc-group>
      </span>
      <span class="third">
        <app-delete-malfunc-group
          [malfunctionGroup]="selectedMalfunctionGroup"
          (deleteMalfunctionGroup)="deleteMalfunction($event)"
        ></app-delete-malfunc-group>
      </span>
      <p></p>
      <table id="group-table" class="table table-striped table-bordered" cellspacing="0"></table>
    </div>
    <div class="col-sm-12 col-md-4">
      <div>
        <caption class="caption">
          <h2>Підгрупа</h2>
        </caption>
      </div>
      <span>
        <app-create-malfunc-subgroup
          (createMalfuncSubGroup)="addMalfunctionSubGroup($event)"
        ></app-create-malfunc-subgroup>
      </span>
      <span class="second">
        <app-edit-malfunc-subgroup
          [malfunctionSubGroup]="selectedMalfunctionSubGroup"
          (editMalfuncSubGroup)="editMalfunctionSubGroup($event)"
        >
        </app-edit-malfunc-subgroup>
      </span>
      <span class="third">
        <app-delete-malfunc-subgroup
          [malfunctionSubGroup]="selectedMalfunctionSubGroup"
          (deleteMalfuncSubGroup)="deleteMalfunctionSubGroup($event)"
        ></app-delete-malfunc-subgroup>
      </span>
      <p></p>
      <table id="subgroup-table" class="table table-striped table-bordered" cellspacing="0"></table>
    </div>
    <div class="col-sm-12 col-md-4">
      <div>
        <caption class="caption">
          <h2>Помилка</h2>
        </caption>
      </div>
      
      <span class="second">
        <app-create-malfunc (createdMalfunction)="addMalfunction($event)"></app-create-malfunc>
      </span>
      
      <!-- <span class="second">
      <app-edit-malfunc></app-edit-malfunc>
      </span> -->
      
      <span class="third">
        <app-delete-malfunc
          [malfunction]="selectedMalfunction"
          (deleteMalfunction)="deleteMalfunction($event)"
        ></app-delete-malfunc>
      </span>
      <p></p>
      <table id="malfunc-table" class="table table-striped table-bordered" cellspacing="0"></table>      
    </div>
  </div>
</div>
