table {
    width: 100%;
}

.scroll-container {
    overflow: auto;
}

.mat-form-field {
    margin-left: 2%;
}
.mat-flat-button {
    background: #007bff
}
.mat-button-wrapper {
    color: #fff;
    font: 16px -apple-system;
}