table {
  width: 100%;
}

.top-container {
  display: flow-root;
}

.general-content-container {
  padding: 7px 0px;
  position: relative;
  float: right;
}

.mat-cell {
  padding: 6px;
}

.scroll-container {
  overflow: auto;
}

.mat-form-field {
  margin-left: 2%;
}