 <!--<app-edit-supplier #editsupplier></app-edit-supplier>
 <button mat-flat-button #thisbtn>Hello</button>-->
  <div class="mat-elevation-z8">
    <mat-form-field>
      <input matInput placeholder="Filter" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container *ngFor="let colDef of columnDefinitions; let i = index" [matColumnDef] = "colDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnNames[i]}} </th>
        <td mat-cell *matCellDef="let row"> {{row[colDef]}} </td>
      </ng-container>
      
      <ng-container matColumnDef = "buttonsColumn">
        <th mat-header-cell *matHeaderCellDef> ДіЇ </th>
        <td mat-cell *matCellDef="let row"> 
          <!--<ng-container *ngFor="let button of buttons">
            <button [widget]="button"></button>
          </ng-container>-->
          
          <button mat-flat-button *ngIf="info.length > 0">Info</button>
          <button mat-flat-button *ngIf="edit.length > 0">Edit</button>
          <button mat-flat-button *ngIf="delete.length > 0">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    
    <mat-paginator 
      [length] = "numberOfRows"
      [pageSize] = "3" 
      [pageSizeOptions]="[3, 5, 10, 25, 100]">
    </mat-paginator>
    
  </div>
  
  
