.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 49%;
  align-items: stretch;
  justify-content: stretch;

  app-country{
    min-height: 50%;
  }
  app-currency{
    min-height: 50%;
  }
  app-parts-in{
    min-height: 50%;
  }
}