<app-filters-tabs
  (StartDateValue)="setStartDateValue($event)"
  (EndDateValue)="setEndDateValue($event)"
  (VechicleTypeValue)="setVechicleTypeValue($event)"
  (StateValue)="setStateValue($event)"
  (Filter)="redrawTable()"
  (PriorityValue)="setPriorityValue($event)"
></app-filters-tabs>
<div class="border">
  <div class="captBox col-md-4 offset-5">
    <caption class="caption">
      Заявки
    </caption>
  </div>
  <table id="issue-table" class="table table-bordered table-hover" style="width:100%;"></table>
</div>
