<!-- Button trigger modal -->
<button type="button" class="btn btn-primary margin-top-bottom" data-toggle="modal" data-target="#createIssue">
  <i class="fas fa-plus"></i> Створити заявку
</button>

<!-- Modal -->
<div class="modal fade" id="createIssue" tabindex="-1" role="dialog" aria-labelledby="CreateIssue" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Створення заявки</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="issueForm" (validSubmit)="onSubmit()">
          <div class="form-group">
            <label>Транспорт</label>
            <select class="form-control" formControlName="vehicle">
              <option hidden value="" disabled selected>*Виберіть транспорт</option>
              <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">{{ vehicle.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Група несправності</label>
            <select class="form-control" formControlName="malfunctionGroup">
              <option value="" selected>Виберіть групу несправності</option>
              <option *ngFor="let malfunctionGroup of malfunctionGroups" [ngValue]="malfunctionGroup">{{
                malfunctionGroup.name
              }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Підгрупа несправності</label>
            <select class="form-control" formControlName="malfunctionSubgroup">
              <option value="" selected>Виберіть підгрупу несправності</option>
              <option
                *ngFor="let malfunctionSubgroup of malfunctionSubgroupsFilteredByGroup"
                [ngValue]="malfunctionSubgroup"
                >{{ malfunctionSubgroup.name }}</option
              >
            </select>
          </div>
          <div class="form-group">
            <label>Несправність</label>
            <select class="form-control" formControlName="malfunction">
              <option hidden value="" disabled selected>*Виберіть несправність</option>
              <option *ngFor="let malfunction of malfunctionsFilteredByGroup" [ngValue]="malfunction">{{
                malfunction.name
              }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Опис несправності</label>
            <textarea class="form-control" formControlName="summary" placeholder="*Опишіть вашу поломку"></textarea>
          </div>
          <button hidden type="submit" #submit></button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="clickSubmit(submit)"
          form="issueForm"
          [disabled]="issueForm.invalid"
        >
          Створити
        </button>
      </div>
    </div>
  </div>
</div>
