<mat-card>

  <div>
    <h2 class="text-center py-3 m-0">Виробники</h2>
  </div>

  <ng-template #generalTemplate>
    <app-create-manufacturer (createManufacturer)="refreshTable()"></app-create-manufacturer>
  </ng-template>

  <ng-template #actionsTemplate let-data="templateData">

    <app-delete-manufacturer [manufacturer]="data" (deleteManufacturer)="refreshTable()">
    </app-delete-manufacturer>

    <app-edit-manufacturer [manufacturer]="data" (updateManufacturer)="refreshTable()">
    </app-edit-manufacturer>

  </ng-template>

  <div>
    <mat-fsp-table #table [columnDefinitions]="columnDefinitions" [columnNames]="columnNames" [dataSource]="dataSource">
    </mat-fsp-table>
  </div>

</mat-card>
