<h1 style="text-align:center">Підгрупа</h1>
<app-create-malfunc-subgroup (createMalfuncSubgroup)="addSubGroup($event)"></app-create-malfunc-subgroup>
<app-edit-malfunc-subgroup [malfunSubGroup]="malfunSubGroup" (updateSubGroup)="updateSubGroup($event)">
</app-edit-malfunc-subgroup>
<app-delete-malfunc-subgroup [malfunSubGroup]="malfunSubGroup" (deleteSubGroup)="deleteSubGroup($event)" ></app-delete-malfunc-subgroup>

<table id="subgroup" class="table table-striped table-bordered" width="100%">
  <thead>
    <tr>
      <th>Підгрупа</th>
      <th>Редагувати</th>
      <th>Видалити</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let malfuncSubGroupItem of malfunSubgroups">
      <td>{{ malfuncSubGroupItem.name }}</td>
      <td>
        <button data-toggle="modal" data-target="#editmalfuncsubgroup" class="btn"
          (click)="selectSubGroup(malfuncSubGroupItem)"><i class="fas fa-edit"></i>
        </button>
      </td>
      <td>
        <button mat-button data-toggle="modal" data-target="#deleteModal" class="btn"
        (click)="selectSubGroup(malfuncSubGroupItem)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>