<h1 style="text-align:center">Помилка</h1>
<app-create-malfunc></app-create-malfunc>
<p></p>
<table id="malfunc" class="table table-striped table-bordered" width="100%">
    <thead>
      <tr>
        <th>Помилка</th>
        <th>Редагувати</th>
        <th>Видалити</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userItem of users">
        <td>{{ userItem.firstName }}</td>
        <td>{{ userItem.lastName }}</td>
        <td>{{ userItem.login }}</td>
        <td>
          <button mat-button  data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>