<mat-card>

  <div>
    <h2 class="text-center py-3 m-0">Одиниці вимірювання</h2>
  </div>

  <div>
    <app-create-unit *ngIf="isAdmin" (createUnit)="addUnit($event)"></app-create-unit>
  </div>

  <ng-template #actionsTemplate let-data="templateData">

    <app-delete-unit *ngIf="isAdmin" [unit]="data" (deleteUnit)="deleteUnit($event)"></app-delete-unit>

    <app-edit-unit *ngIf="isAdmin" [unit]="data" (updateUnit)="updateUnit($event)"></app-edit-unit>

  </ng-template>

  <div>
    <mat-fsp-table #table [columnDefinitions]="columnDefinitions" [columnNames]="columnNames" [dataSource]="dataSource"
      [actionContentTemplate]="actionsTemplate">
    </mat-fsp-table>
  </div>

</mat-card>
