<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#createEmployee">
  <i class="fas fa-plus"></i> Створити працівника
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="createEmployee"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createEmployee"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Створення працівника</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm" (validSubmit)="onSubmit()">
          <div class="form-group">
            <label class="required-field">Табельний номер</label>
            <input
              type="number"
              min="1"
              max="1000000000"
              placeholder="Введіть табельний номер"
              class="form-control"
              formControlName="boardNumber"
            />
          </div>
          <div class="form-group">
            <label>Прізвище</label>
            <input type="text" placeholder="Введіть прізвище" class="form-control" formControlName="lastName" />
          </div>
          <div class="form-group">
            <label>Ім'я</label>
            <input type="text" placeholder="Введіть ім'я" class="form-control" formControlName="firstName" />
          </div>
          <div class="form-group">
            <label>По батькові</label>
            <input type="text" placeholder="Введіть ім'я батька" class="form-control" formControlName="middleName" />
          </div>
          <div class="form-group">
            <label>Коротке ім'я</label>
            <input type="text" placeholder="Введіть коротке ім'я" class="form-control" formControlName="shortName" />
          </div>
          <label class="required-field">Посада</label>
          <select class="form-control" formControlName="post">
            <option value="" selected>Виберіть посаду</option>
            <option *ngFor="let post of posts" [ngValue]="post">{{ post.name }}</option>
          </select>
          <button hidden type="submit" #submit data-toggle="modal" data-target="#createEmployee"></button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeModal()"
          data-toggle="modal"
          data-target="#createEmployee"
        >
          Закрити
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="clickSubmit(submit)"
          form="employeeForm"
          [disabled]="employeeForm.invalid"
          data-toggle="modal"
          data-target="#createEmployee"
        >
          Створити
        </button>
      </div>
    </div>
  </div>
</div>
