<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateModal">
  <i class="fas fa-plus"></i> Додати нову історію
</button>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Редагувати поломку</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="oldstate" class="col-form-label">Старий стан</label>
            <input
              type="number"
              class="form-control"
              id="oldstate"
              [(ngModel)]="issueLog.oldState"
              [ngModelOptions]="{ standalone: true }"
              #nameRequired="ngModel"
              disabled
            />
          </div>
          <div class="form-group">
            <label class="col-form-label">Новий стан:</label>
            <select
              name="role"
              #state="ngModel"
              [(ngModel)]="issueLog.newState"
              [ngModelOptions]="{ standalone: true }"
              #nameRequired="ngModel"
              class="form-control"
            >
              <option value="0">--Select--</option>
              <option *ngFor="let item of states" value="{{ item.id }}">{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="summary" class="col-form-label">Опис:</label>
            <textarea
              class="form-control"
              id="summary"
              placeholder="Введіть опис"
              [(ngModel)]="issueLog.description"
              [ngModelOptions]="{ standalone: true }"
              #nameRequired="ngModel"
            ></textarea>
          </div>
          <div class="form-group">
            <label class="col-form-label">Тип дії:</label>
            <select
              name="role"
              #state="ngModel"
              [(ngModel)]="issueLog.actionType"
              [ngModelOptions]="{ standalone: true }"
              #nameRequired="ngModel"
              class="form-control"
            >
              <option value="0">--Select--</option>
              <option *ngFor="let item of actionTypes" value="{{ item.id }}">{{ item.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="createdate" class="col-form-label">Дата створення</label>
            <input
              type="date"
              id="createdate"
              class="form-control"
              [(ngModel)]="issueLog.createDate"
              [ngModelOptions]="{ standalone: true }"
              #nameRequired="ngModel"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="moddate" class="col-form-label">Дата редагування</label>
            <input
              type="date"
              id="moddate"
              class="form-control"
              [(ngModel)]="issueLog.modDate"
              [ngModelOptions]="{ standalone: true }"
              #nameRequired="ngModel"
              disabled
            />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary" (click)="editItem()">Зберегти</button>
      </div>
    </div>
  </div>
</div>

<table id="issue-logs-table" class="table table-hover">
  <thead>
  <tr>
    <th>Заявка</th>
    <th>Створив</th>
    <th>Витрати</th>
    <th>Опис</th>
    <th>Старий стан</th>
    <th>Новий стан</th>
    <th>Постачальник</th>
    <th>Дата створення</th>
    <th>Дата редагування</th>
    <th>Видалити</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of issueLogs">
    <td>{{ item.issue.state }}</td>
    <td>{{ item.expenses }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.oldState }}</td>
    <td>{{ item.newState }}</td>
    <td>{{ item.supplier.name }}</td>
    <td>{{ item.createDate }}</td>
    <td>{{ item.modDate }}</td>
    <td>
      <button mat-button data-toggle="modal" data-target="#CreateModal" (click)="this.issueLog = item">
        <i class="fas fa-edit"></i>
      </button>
    </td>
    <td>
      <button mat-button data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
    </td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ви дійсно хочете видалити?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem(issueLog.id)">Видалити</button>
      </div>
    </div>
  </div>
</div>
