<a class="btn text-white btn-success btn-info" (click)="openCreateUserDialog()"><i class="fas fa-plus"></i> Створити користувача</a>

<table class="table table-hover" cellspacing="0">
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>Логін</th>
      <th>Електронна пошта</th>
      <th>Номер</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.login }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phoneNumber }}</td>
    </tr>
  </tbody>
</table>
