<button class="btn text-white btn-success btn-info" (click)="createItem()"><i class="fas fa-plus"></i> Створити користувача</button>

<table class="table table-hover" cellspacing="0">
  <thead>
    <tr>
      <th>Ім'я</th>
      <th>Прізвище</th>
      <th>Логін</th>
      <th>Електронна пошта</th>
      <th>Номер</th>
      <th>Редагувати</th>
      <th>Видалити</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" [attr.id]="user.id">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.login }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phoneNumber }}</td>
      <td>
        <button mat-button (click)="editItem(user.id)"><i class="fas fa-edit"></i></button>
      </td>
      <td>
        <button mat-button (click)="openDialog(user.id)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
