<button type="button" class="btn btn-info" data-toggle="modal" data-target="#createDocument">
  <i class="fas fa-plus"></i> Створити документ
</button>

<div class="modal fade" id="createDocument" tabindex="-1" role="dialog" aria-labelledby="CreateDocument" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-plus"></i> Створити документ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="documentForm" (validSubmit)="onSubmit()">

                    <mat-form-field class="w-100 mb-3" appearance="outline">

                        <mat-label translate>Shared.Document.Name.HTML</mat-label>
                        <input matInput type="text" formControlName="name" autocomplete="off" [attr.placeholder]="'Shared.Document.Name.Placeholder'|translate" />

                        <mat-error>
                            <app-validator [control]="documentForm.get('name')"></app-validator>
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field class="w-100 mb-3" appearance="outline">

                        <mat-label translate>Shared.Document.Description.HTML</mat-label>
                        <textarea matInput type="text" formControlName="description" autocomplete="off" [attr.placeholder]="'Shared.Document.Description.Placeholder'|translate"></textarea>

                        <mat-error>
                            <app-validator [control]="documentForm.get('description')"></app-validator>
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field class="w-100 mb-3" appearance="outline">

                        <mat-label translate>Shared.Document.Date.HTML</mat-label>
                        <!--Use the same date input as date input in filters-->
                        <input matInput type="date" formControlName="newDate" autocomplete="off" />

                        <mat-error>
                            <app-validator [control]="documentForm.get('newDate')"></app-validator>
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field class="w-100 mb-3" appereance="outline">
                        <input matInput type="text" formControlName="file" autocomplete="off" [value]="fileInput.value" [readonly]="true" />
                        <mat-error>
                            <app-validator [control]="documentForm.get('file')"></app-validator>
                        </mat-error>
                        <button mat-button (click)="fileInput.click()">Вибрати документ</button>
                    </mat-form-field>

                    <input #fileInput type="file" hidden accept="application/pdf" />

                    <div class="modal-footer">
                        <button #close type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                        <button type="submit" class="btn btn-primary" [disabled]="documentForm.invalid">
            Створити
        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>