


<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header color">
        <h5 class="modal-title"><i class="fas fa-user-plus"></i> {{message}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">        
            <div [formGroup]="myGroup">
              <div *ngFor="let item of controls" [ngSwitch]="item.containerType">
                <div class="form-group" *ngSwitchCase="'input'">
                  <label [class.required-field]="item.required">{{item.labelName}}</label>
                  <input type="text" class="form-control" formControlName="{{item.formControlName}}"
                    placeholder="{{item.placeHolder}}" />
                </div>
                <div class="form-group" *ngSwitchCase="'select'">
                  <label [class.required-field]="item.required">{{item.labelName}}</label>
                  <ng-select formControlName="{{item.formControlName}}" placeholder="{{item.placeHolder}}"
                    bindLabel="{{item.bindLabel}}" notFoundText="Не знайдено" [items]="item.items">
                  </ng-select>
                </div>
                <div class="form-group" *ngSwitchCase="'date'">
                  <label [class.required-field]="item.required">{{item.labelName}}</label>
                  <input type="date" class="form-control" formControlName="{{item.formControlName}}"
                    placeholder="{{item.placeHolder}}" />
                </div>
                    <div class="form-group" *ngSwitchCase="'textarea'">
                      <label [class.required-field]="item.required">{{item.labelName}}</label>
                      <textarea type="text" class="form-control" formControlName="{{item.formControlName}}"
                        placeholder="{{item.placeHolder}}"></textarea>
                    </div>
              </div>
            </div>
        </div>               
      <div class="modal-footer">       
            <div class="form-group">
              <button #close type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
              <button type="button" class="btn btn-primary" 
                [disabled]="myGroup.invalid">Створити</button>
            </div>          
      </div>
      </div>
    </div>
  </div>