<div class="table-background border mt-3">
  <app-create-issue (addIssue)="reloadTable()"></app-create-issue>
  <app-issue-details [issue]="selectedIssue"></app-issue-details>
  <app-delete-issue [issue]="selectedIssue" (deleteIssue)="reloadTable()"></app-delete-issue>
  <table id="issues" datatable [dtOptions]="options" [dtTrigger]="renderTrigger" class="table table-bordered">
    <caption class="table-caption">
      Мої Заявки
    </caption>
    <thead>
      <tr>
        <th>Номер</th>
        <th>Транспорт</th>
        <th>Стан Заявки</th>
        <th>Несправність</th>
        <th>Опис</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody *ngIf="issues?.length !== 0">
      <tr *ngFor="let issue of issues" [ngClass]="getPriorityClass(issue)">
        <td>{{ issue.number }}</td>
        <td>{{ issue.vehicle.name | truncate }}</td>
        <td>{{ issue.state.transName | truncate }}</td>
        <td>{{ issue.malfunction.name | truncate }}</td>
        <td>{{ issue.summary | truncate }}</td>
        <td>
          <div class="d-flex flex-nowrap">
            <button (click)="selectIssue(issue)" class="btn" data-toggle="modal" data-target="#editModal">
              <i class="fas fa-info-circle"></i>
            </button>
            <button
              *ngIf="issue.deletable"
              (click)="selectIssue(issue)"
              class="btn"
              data-toggle="modal"
              data-target="#deleteModal"
            >
              <i class="fas fa-trash-alt" style="color: darkred"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="issues?.length === 0">
      <tr>
        <td colspan="6" class="no-data-available">Дані відсутні</td>
      </tr>
    </tbody>
  </table>
</div>
