.table-caption {
  caption-side: top;
  text-align: center;
  color: black;
  font-size: 2rem;
}

.table {
  width: 100% !important;
}

.priority-low {
  background-color: #ccffcc;
}

.priority-medium {
  background-color: #ffffcc;
}

.priority-high {
  background-color: #ffcccc;
}
