<div class="table-background border mt-3">
  <h2 class="table-caption">
    Мої Заявки
  </h2>
  <app-create-modal (reloadEntity)="reloadTable()" (createEntity)="issueFormGroup"[generalForm]="issueForm" [controls]="controls"></app-create-modal>
  <app-issue-details [issue]="selectedIssue"></app-issue-details>
  <app-delete-issue [issue]="selectedIssue" (deleteIssue)="reloadTable()"></app-delete-issue>
  <table id="issues" datatable [dtOptions]="options" [dtTrigger]="renderTrigger" class="table table-bordered">
    <thead>
      <tr>
        <th>Номер</th>
        <th>Транспорт</th>
        <th>Стан Заявки</th>
        <th>Несправність</th>
        <th>Дата</th>
        <th>Опис</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody *ngIf="issues?.length !== 0">
      <tr *ngFor="let issue of issues" [ngClass]="getPriorityClass(issue)">
        <td>{{ issue.number }}</td>
        <td [attr.title]="issue.vehicle.name">{{ issue.vehicle.name | truncate }}</td>
        <td [attr.title]="issue.state.transName">{{ issue.state.transName | truncate }}</td>
        <td [attr.title]="issue.malfunction.name">{{ issue.malfunction.name | truncate }}</td>
        <td [attr.title]="issue.date">{{ issue.date | date: 'yyyy-MM-dd' }}</td>
        <td [attr.title]="issue.summary">{{ issue.summary | truncate }}</td>
        <td>
          <div class="d-flex flex-nowrap">
            <button (click)="selectIssue(issue)" class="btn" data-toggle="modal" data-target="#editModal">
              <i class="fas fa-info-circle"></i>
            </button>
            <button
              *ngIf="issue.deletable"
              (click)="selectIssue(issue)"
              class="btn"
              data-toggle="modal"
              data-target="#deleteModal"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
